body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Define a altura do body como 100% da altura da viewport */
  display: grid;
  place-items: center;
}

.container{
  display: flex;
  flex-direction: column;
  top: -150px;
  align-items: center;
}

#form-row{
  position: relative;
  justify-self: center;
}

#response-insert{
  display: block;
  color: aliceblue;
  width: inherit;
  font-size: larger;
}

#petshopname{
  color: chocolate;
  justify-self: center;
}
b{
  font-size: 2rem;
}
#price{
  color: rgb(0, 202, 0);
}
.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100vh; /* Define a altura do body como 100% da altura da viewport */

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade {
  0% {
    opacity: 0; /* Começa completamente transparente */
  }
  100% {
    opacity: 1; /* Fica completamente opaco */
  }
}

.fade-in-out {
  animation: fade 0.5s ease-in-out; /* A animação dura 0.5 segundos */
}